@media screen and (max-width: 1024px) {
  .content {
    padding: 0 16px;
  }

  .floatingButton {
    z-index: 1;
    margin: 0;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    flex: 1;
    display: flex;
    flex-direction: row;
  }
}
